* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2em;

  gap: 4em;
}
.title {
  font-size: 2rem;
}
.title .line {
  display: block;
  margin-inline: auto;
  width: 30%;
  height: 5px;
  background-color: blue;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1em;
    width: 100%;
   
   max-width: 1000px;
}
.wrapper form {
  display: flex;
  width: 50%;
  min-width: 300px;
}

.wrapper form input[type='text']{
  width: 80%;
  height: 2.5em;
  display: block;
  border-right: none;
  font-size: 1.1rem;
}
.wrapper form button{
  width: 20%;
  height: 2.5em;
  border-left: none;
  font-size: 1.1rem;

}
.wrapper #the-result{

width: 100%;
height: auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1em;



text-align: center; 


}
.wrapper #the-result .forecast{
  padding:1em 2.2em;
  background-color: #5d68ff;
  border-radius: 20px;
  width: 300px;
  box-shadow: 1px 3px 10px gray;  
  color:#efecec;


}
.wrapper #the-result .forecast .city{
  font-size: 1.8rem;
  margin-left: 0.4em;

}

.wrapper #the-result .forecast .city >sup{
  font-size: 0.6rem;
border-radius: 20px;

  background-color: rgb(177, 113, 10);
  padding:2px 4px;
   margin-left: 0.4em;
  color: #fff;
}
.wrapper #the-result .forecast .temprituer{
  font-size: 5rem;
}
.wrapper #the-result .forecast .weather-text{
  font-size: 1.8rem;

}

@media(max-width:500px){
  html{
    font-size: 12px;
  }
  .wrapper{
    width: 95%;
  }
  .wrapper form input[type='text']{
    width: 80%;
    height: 3em;
    
    
  }
  .wrapper form button{
    width: 20%;
    height: 3em;
    
  }

  .wrapper #the-result{

    
    
    
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    padding-bottom: 1em;
    
    
    
    
    
    
    }
}